body {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

#menu {
  padding: 30px 0;
  position: fixed;
  width: 100vw;
}

#menu h4 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 15px 0;
}

.options {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0;
}

.options h5 {
  letter-spacing: .05em;
  margin: 20px 0;
}

.char-option {
  width: 150px;
  height: 50px;
  background-color: #25B28F;
  color: #DCF0EB;
  text-align: center;
  margin-bottom: 20px;
}

.char-option:hover {
  color: #25B28F;
  background-color: #DCF0EB;
}

#films {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: indianred;
}

.singleFilm {
  width: 250px;
  height: 450px;
  padding: 20px;
  background-color: lightcoral;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .options {
    width: 360px;
  }
}