body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #49494b;
}

h6 {
  font-size: .9em;
}

h3 {
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.5em;
  color: #49494b;
}

p {
  font-size: .75em;
}

#header {
  padding: 1em;
  background-color: #bd8c7d;
  display: flex;
  justify-content: space-around;
}

.header-content {
  margin: 0;
  padding: 1em;
}

#title {
  width: 450px;
  font-family: 'EB Garamond', serif;
  font-size: 3em;
  font-weight: 600;
  color: #FFF;
  letter-spacing: .1em;
  padding: .5em 0 0 0em;
}

#about {
  width: 150px;
  padding-top: 2em;
}

#search {
  width: 200px;
  padding-top: 2em;
}

.search {
  border: none;
  border-radius: 5px;
  height: 20px;
}

#search input {
  width: 180px;
  margin-bottom: .5em;
  padding-left: 8px;
}

#search select {
  margin-right: .5em;
  width: 150px;
}

#search button:hover {
  background-color: #49494b;
  color: #d1bfa7;
}

#main {
  display: flex;
  align-content: flex-start;
}

#sidebar {
  background-color: #d1bfa7;
  padding: 40px 0;
  margin-right: 40px;
  float: left;
  min-width: 140px;
  min-height: 100vh;
}

#sidebar h6, .drop-down {
  margin: 0;
  display: inline;
}

.drop-down {
  color: #bd8c7d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0 0 10px;
}

.drop-down:hover {
  background-color: #49494b;
  color: #d1bfa7;
}

.filter-category {
  padding: 0 0 15px 15px;
}

.filter-option {
  cursor: pointer;
}

.active {
  color: #FFF;
  font-weight: bold;
}

#results {
  max-width: 650px;
  min-width: 270px;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-right: 40px;
}

#pagination {
  width: 100%;
  height: 40px;
  text-align: center;
}

.result {
  background-color: #d1d1d2;
  width: 100px;
  padding: 10px;
  margin-bottom: 20px;
  overflow: auto;
  hyphens: auto;
  cursor: pointer;
}

#pages {
  clear: both;
  width: 100%;
  background-color: #bd8c7d;
  text-align: center;
}

.page {
  padding: 0 5px;
  display: inline-block;
}

.page:hover, .filter-option:hover {
  text-decoration: underline;
  cursor: pointer;
}

#details {
  width: 400px;
  height: fit-content;
  background-color: #d1bfa7;
  box-sizing: border-box;
  padding: 40px;
  margin: 40px 40px 0 0;
  align-content: flex-start;
}

#details h5 {
  margin: 15px 0;
  font-weight: normal;
}

#bookTitle {
  margin: 0 0 5px 0;
}

#error {
  display: block;
}

.loading {
  margin: 200px 0 0 260px;
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #bd8c7d;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 900px) {
  #header {
    display: block;
    overflow: hidden;
    text-align: center;
  }

  #title {
    margin: 0 auto;
  }

  #search, #about {
    display: inline-block;
  }

  #results {
    max-width: 400px;
  }

  #details {
    width: 350px;
  }
}

@media screen and (max-width: 500px) {
  #title {
    width: unset;
  }

  #sidebar {
    display: none;
  }

  #results {
    width: 100vw;
    margin: unset;
    justify-content: space-around;
  }

  .loading {
    margin: 40px auto;
  }
}

/* 

Rose Gold: #bd8c7d
Soft Gold: #d1bfa7
Silver: #8e8e90
Light Silver: #d1d1d2
Onyx: #49494b

font-family: 'EB Garamond', serif;
font-family: 'Roboto', sans-serif;

*/